<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5a3f4989-6d4e-4bc3-87fb-65bf1dea32fe"
            Publisher="CN=hatsune"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>AsyncOAuth.WindowsStoreAppVB</DisplayName>
    <PublisherDisplayName>hatsune</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="AsyncOAuth.WindowsStoreAppVB.App">
        <VisualElements
            DisplayName="AsyncOAuth.WindowsStoreAppVB"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="AsyncOAuth.WindowsStoreAppVB"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>